body {
  background-color: #1400FF;
}

.imagefullwidth {
  width: 100%;
  border-bottom: 15px solid #FFFFFF;
}

.backgroundblack {
  background-color: #000000;
}

.backgroundwhite {
  background-color: #FFFFFF;
}
